<h1>Photos (<%= @album.count %>)</h1>

<!--Search Form-->
<%= form_tag root_path, method: :get do %>
  <%= label_tag "Enter Flickr User ID:" %><br>
  <%= text_field_tag :flickr_id %>
  <%= submit_tag "Search" %>
<% end %><br>

<table class="table table-bordered table-striped" style="width:100%">
  <thead>
    <tr>
      <th>Photo ID</th>
      <th>Server ID</th>
      <th>Farm ID</th>
      <th>Secret ID</th>
      <th>Photos (link)</th>
    </tr>
  </thead>
  <tbody>
    <% @album.take(10).each do |photo| %>
      <tr>
        <td><%= id        = photo.id %></td>
        <td><%= server_id = photo.server %></td>
        <td><%= farm_id   = photo.farm %></td>
        <td><%= secret    = photo.secret %></td>
        <% url = "https://farm#{farm_id}.staticflickr.com/#{server_id}/#{id}_#{secret}_q.jpg" %>
        <% url2 = "https://farm#{farm_id}.staticflickr.com/#{server_id}/#{id}_#{secret}.jpg" %>
        <td><%= link_to image_tag(url), url2 %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!--https://farm{farm-id}.staticflickr.com/{server-id}/{id}_{secret}.jpg-->


