<h1>Flickr Photos (<%= @album.count %>)</h1>

<!--Search Form-->
<%= form_tag root_path, method: :get do %>
  <%= label_tag "Enter Flickr User ID:" %><br>
  <%= text_field_tag :flickr_id %>
  <%= submit_tag "Search" %>
<% end %><br>
<p>User ID: <b><%= @flickr_id %></b></p>
<p>
  <b>Please click the photo you like to see its actual size!</b>
</p>

<% @album.each do |photo| %>
  <% id =        photo.id %>
  <% server_id = photo.server %>
  <% farm_id   = photo.farm %>
  <% secret    = photo.secret %>
  <% url = "https://farm#{farm_id}.staticflickr.com/#{server_id}/#{id}_#{secret}_q.jpg" %>
  <% url2 = "https://farm#{farm_id}.staticflickr.com/#{server_id}/#{id}_#{secret}.jpg" %>
  <%= link_to image_tag(url), url2 %>
<% end %>

<!--https://farm{farm-id}.staticflickr.com/{server-id}/{id}_{secret}.jpg-->


